.App {
  height: 100vh;
  width: auto;
}

.Container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 75px);
  width: auto;
}
.word {
  display: flex;
  flex-direction: column;
  margin-bottom: 10rem;
}
.Login {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: auto;
}
